{% extends "base.html" %}

{% block title %}
  Home
{% endblock title %}

{% block content %}
<main class="bg-light h-100">
  <article class="container">
    <h1>Welcome to our awesome movie database!</h1>
    <p>
      We're everything like the good parts on IMDB, and nothing like the bad
      parts on IMDB. We only share the good movies, the bad movies aren't
      even on here. If you can't see your favorite movie here, it probably
      wasn't any good anyway.
    </p>
  </article>
</main>
{% endblock content %}