{% extends "base.html" %}

{% block title %}
  Our Awesome Movies
{% endblock title %}

{% block content %}
<main class="bg-light h-100">
  <article class="container py-2">
    <h1>Movies</h1>
    {% if movies %}
    <section class="row row-cols-1 row-cols-md-2">
      {% for movie in movies %}
      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              {{ movie.name }} by {{ movie.author.first_name }} {{
              movie.author.last_name }}
            </h5>
            <p class="card-text text-truncate" style="max-width: 30ch">
              {{ movie.plot }}
            </p>
            <a
              href="{% url 'movie-detail' movie_id=movie.id %}"
              class="btn btn-link"
            >
              See all details
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </section>
    {% else %}
    <p>Seems like no movies are any good nowadays :(</p>
    {% endif %}
  </article>
</main>
{% endblock content %}